body > header,
body > footer {
	background-color: Teal;
	padding: 50px;
}
body {
	margin: 0;
}
article {
	margin: 20px;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}
li {
	float: left;
	list-style-type: none;
	margin-right: 20px;
}