@charset "UTF-8";

div { font-size: 2em; font-weight: bold; margin: 50px auto; width: 600px }
em { color: #ffcc00 }
p { margin: 0; padding: 0; visibility: hidden }

#animation1 {
-webkit-animation: cssAnimationA 14.0s 1 linear;
-moz-animation: cssAnimationA 14.0s 1 linear;
-o-animation: cssAnimationA 14.0s 1 linear;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;

}
@-webkit-keyframes cssAnimationA {
from { -webkit-transform:  scale(1.1) skew(1deg) translate(0px);}
to { -webkit-transform: scale(0.9) skew(4deg) translate(11px);}
}
@-moz-keyframes cssAnimationA {
from { -moz-transform:  scale(1.1) skew(1deg) translate(0px);}
to { -moz-transform: scale(0.9) skew(4deg) translate(11px);}
}
@-o-keyframes cssAnimationA {
from { -o-transform:  scale(1.1) skew(1deg) translate(0px);}
to { -o-transform: scale(0.9) skew(4deg) translate(11px);}
}
#animation2 {
-webkit-animation: cssAnimationB 9.0s 1 linear;
-moz-animation: cssAnimationB 9.0s 1 linear;
-o-animation: cssAnimationB 9.0s 1 linear;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;

}
@-webkit-keyframes cssAnimationB {
from { -webkit-transform:  scale(1) skew(1deg) rotateY(0deg);}
to { -webkit-transform: scale(1.1) skew(4deg) rotateY(-10deg);}
}
@-moz-keyframes cssAnimationB {
from { -moz-transform:  scale(1) skew(1deg) rotateY(0deg);}
to { -moz-transform: scale(1.1) skew(4deg) rotateY(-10deg);}
}
@-o-keyframes cssAnimationB {
from { -o-transform:  scale(1) skew(1deg) rotateY(0deg);}
to { -o-transform: scale(1.1) skew(4deg) rotateY(-10deg);}
}
#animation3 {
-webkit-animation: cssAnimationC 11.0s 1 linear;
-moz-animation: cssAnimationC 11.0s 1 linear;
-o-animation: cssAnimationC 11.0s 1 linear;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;

}
@-webkit-keyframes cssAnimationC {
from { -webkit-transform:  scale(1) skew(1deg) rotateY(0deg);}
to { -webkit-transform: scale(1.1) skew(7deg) rotateY(-15deg);}
}
@-moz-keyframes cssAnimationC {
from { -moz-transform:  scale(1) skew(1deg) rotateY(0deg);}
to { -moz-transform: scale(1.1) skew(7deg) rotateY(-15deg);}
}
@-o-keyframes cssAnimationC {
from { -o-transform:  scale(1) skew(1deg) rotateY(0deg);}
to { -o-transform: scale(1.1) skew(7deg) rotateY(-15deg);}
}
#animation4 {
-webkit-animation: cssAnimationD 8.0s 1 linear;
-moz-animation: cssAnimationD 8.0s 1 linear;
-o-animation: cssAnimationD 8.0s 1 linear;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;

}
@-webkit-keyframes cssAnimationD {
from { -webkit-transform:  scale(1.2) skew(1deg);}
to { -webkit-transform: scale(1) skew(-3deg);}
}
@-moz-keyframes cssAnimationD {
from { -moz-transform:  scale(1.2) skew(1deg);}
to { -moz-transform: scale(1) skew(-3deg);}
}
@-o-keyframes cssAnimationD {
from { -o-transform:  scale(1.2) skew(1deg);}
to { -o-transform: scale(1) skew(-3deg);}
}
#animation6 {
-webkit-animation: cssAnimationF 10.0s 1 linear;
-moz-animation: cssAnimationF 10.0s 1 linear;
-o-animation: cssAnimationF 10.0s 1 linear;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;

}
@-webkit-keyframes cssAnimationF {
from { -webkit-transform:  scale(1.1) skew(1deg);}
to { -webkit-transform: scale(0.8) skew(-7deg);}
}
@-moz-keyframes cssAnimationF {
from { -moz-transform:  scale(1.1) skew(1deg);}
to { -moz-transform: scale(0.8) skew(-7deg);}
}
@-o-keyframes cssAnimationF {
from { -o-transform:  scale(1.1) skew(1deg);}
to { -o-transform: scale(0.8) skew(-7deg);}
}
#animation7 {
-webkit-animation: cssAnimationG 10.0s 1 linear;
-moz-animation: cssAnimationG 10.0s 1 linear;
-o-animation: cssAnimationG 10.0s 1 linear;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;

}
@-webkit-keyframes cssAnimationG {
from { -webkit-transform: rotate(0deg) scale(1);}
to { -webkit-transform: rotate(-5deg) scale(1.2);}
}
@-moz-keyframes cssAnimationG {
from { -moz-transform: rotate(0deg) scale(1);}
to { -moz-transform: rotate(-5deg) scale(1.2);}
}
@-o-keyframes cssAnimationG {
from { -o-transform: rotate(0deg) scale(1);}
to { -o-transform: rotate(-5deg) scale(1.2);}
}
#animation5 {
-webkit-animation: cssAnimationE 11.0s 1 linear;
-moz-animation: cssAnimationE 11.0s 1 linear;
-o-animation: cssAnimationE 11.0s 1 linear;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;

}
@-webkit-keyframes cssAnimationE {
from { -webkit-transform: skew(0deg) scale(1.2);}
to { -webkit-transform: skew(-5deg) scale(1);}
}
@-moz-keyframes cssAnimationE {
from { -moz-transform: skew(0deg) scale(1.2);}
to { -moz-transform: skew(-5deg) scale(1);}
}
@-o-keyframes cssAnimationE
from { -o-transform:skew(0deg) scale(1.2);}
to { -o-transform: skew(-5deg) scale(1);}
}
