@charset "UTF-8";
#animation9 {
-webkit-animation: cssAnimationI 11.0s 1 linear;
-moz-animation: cssAnimationI 11.0s 1 linear;
-o-animation: cssAnimationI 11.0s 1 linear;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;

}
@-webkit-keyframes cssAnimationI {
from { -webkit-transform:  rotateX(0deg) rotateY(0deg) scale(1);}
to { -webkit-transform: rotateX(-5deg) rotateY(-5deg) scale(1.1);}
}
@-moz-keyframes cssAnimationI {
from { -moz-transform:  rotateX(0deg) rotateY(0deg) scale(1);}
to { -moz-transform: rotateX(-5deg) rotateY(-5deg) scale(1.1);}
}
@-o-keyframes cssAnimationI {
from { -o-transform:  rotateX(0deg) rotateY(0deg) scale(1);}
to { -o-transform: rotateX(-5deg) rotateY(-5deg) scale(1.1);}
}
#animation10 {
-webkit-animation: cssAnimationJ 11.0s 1 linear;
-moz-animation: cssAnimationJ 11.0s 1 linear;
-o-animation: cssAnimationJ 11.0s 1 linear;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;

}
@-webkit-keyframes cssAnimationJ {
from { -webkit-transform:  scale(1.1) skew(-1deg) rotate(-3deg);}
to { -webkit-transform: scale(1) skew(3deg) rotate(4deg)}
}
@-moz-keyframes cssAnimationJ {
from { -moz-transform:  scale(1.1) skew(-1deg) rotate(-3deg);}
to { -moz-transform: scale(1) skew(3deg) rotate(4deg)}
}
@-o-keyframes cssAnimationJ {
from { -o-transform:  scale(1.1) skew(-1deg) rotate(-3deg);}
to { -o-transform: scale(1) skew(3deg) rotate(4deg)}
}
#animation8 {
-webkit-animation: cssAnimationH 11.0s 1 linear;
-moz-animation: cssAnimationH 11.0s 1 linear;
-o-animation: cssAnimationH 11.0s 1 linear;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;

}
@-webkit-keyframes cssAnimationH {
from { -webkit-transform:  scale(1.3) skew(-1deg) rotate(0deg);}
to { -webkit-transform: scale(1) skew(3deg) rotate(4deg);}
}
@-moz-keyframes cssAnimationH {
from { -moz-transform:  scale(1.3) skew(-1deg) rotate(0deg);}
to { -moz-transform: scale(1) skew(3deg) rotate(4deg);}
}
@-o-keyframes cssAnimationH {
from { -o-transform:  scale(1.3) skew(-1deg) rotate(0deg);}
to { -o-transform: scale(1) skew(3deg) rotate(4deg);}
}